html, body{
    margin:0;
    padding:0;
}
body {
    background-color: black;
    color: white;
}
a {
    color: white;
}
header {
    display: grid;
    justify-content: center;
}
footer {
    background-color: black;
    margin-bottom: 0;
    color: white;
    width : 100%;
    height: 2vh;
    padding-bottom: 2vh;
    text-align: center;
    font-size: 8pt;
}
header #logo {
    width: 5vw;
    justify-self: center;
    margin: 1vw;
}

header nav {
    display: grid;
    grid-template-columns: repeat(5,10vw);
    justify-content: space-between;
    margin-bottom : 0.5vw;
    border-bottom: 0.5px solid lightgrey;
    height: 3vh;
}

header nav a {
    text-decoration: none;
    margin: auto;
}

#accueil {
    display:grid;
    justify-content: center;
    align-items: center;
}

#accueil img {
    width: 100vws;
}
#accueil p{
    text-align: center;
}
#club {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 3vw auto auto auto;
}

#club img{
    width: 25vw;
    justify-self: center;
}

#club p{
    justify-self: center;
    align-self: center;

}

#shop {
    margin-top: 3vh;
    display: grid;
    grid-template-columns: repeat(4,20vw);
    justify-content: center;
    grid-gap: 1rem;
}

#shop img{
    width: 15vw;
}

#shop div {
    width : 20vw;
    box-sizing: border-box;
}
#shop div article {
    width : 15vw;
}
#shop aside {
    float: right;
}

#shop a {
    text-decoration: none;
    color: white;
    background: red;
    border-radius: 50%;
    padding: 3px;
    text-align: center;
}

#inscription {
    display: grid;
    justify-content: center;
    margin-top: 3vw;
}
#inscription img{
    width: 20vw;
    justify-self: center;
}

#inscription a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

#contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

#contact iframe {
    margin: 3vw auto auto 1vw;
}
#contact h2 {
    margin: 3vw auto auto 1vw;
    text-align: center;
}

#contact .icone {
    width: 4vh;
    margin : auto ;

}
#contact ul li {
    justify-self: center;
}




@media screen and (max-width:576px)

{

    header #logo {
        width: 8vw;
    }
    
    header nav {
        display: grid;
        grid-template-columns: repeat(5,20vw);
    }

    #shop {
        margin-top: 5vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4,1fr);
        justify-content: space-around;
        margin-left: 4vw;
    }
    #shop div {
        margin-left: 6vw;
        width : 25vw;
    }

    #shop img{
        width: 30vw;
    }
    #shop div article {
        width : 25vw;
    }
    #club {
        margin: 3vw 0 0 0 ;
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: repeat(2,1fr);
        
        width: 100vw;
    }
    #club img {
        width: 50vw;
        justify-self: center;
    }
    #contact{
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: repeat(2,1fr);
    }
    
    #contact iframe {
        margin: 3vw auto auto auto;
        width: 95vw;
    }
    #contact h2 {
        margin: 3vw auto auto 1vw;
    }
    
    #contact .icone {
        width: 4vh;
        margin : auto ;
    
    }
    #inscription img{
        width: 50vw;
        justify-self: center;
    }
    #inscription p {
        padding : 1vh;
    }
    p {
        padding: 0 0 1vh 1vh;
    }
}

@media screen and (min-width:1440px)

{

body {
    font-size : 14pt;
}
footer {
    font-size: 12pt;
}

}