html, body{
    margin:0;
    padding:0;
}

header {
    display: grid;
    justify-content: center;
}

header #logo {
    width: 5vw;
    justify-self: center;
    margin: 1vw;
}

header nav {
    display: grid;
    grid-template-columns: repeat(5,10vw);
    justify-content: space-between;
    margin-bottom : 0.5vw;
    border-bottom: 0.5px solid lightgrey;
    height: 3vh;
}

header nav a {
    text-decoration: none;
    color: black;
    margin: auto;
}

#accueil {
    display:block;
}

#club {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 3vw auto auto auto;
}

#club {
    width: 50vw;
}

#shop {
    margin-top: 3vh;
    display: grid;
    grid-template-columns: repeat(4,20vw);
    justify-content: center;
}

#shop img{
    width: 15vw;
}

#shop div {
    width : 20vw;
    box-sizing: border-box;
}
#shop div article {
    width : 15vw;
}
#shop aside {
    float: right;
}

#inscription {
    display: grid;
    justify-content: center;
    margin-top: 3vw;
}
#inscription img{
    width: 20vw;
    justify-self: center;
}
